@model StoreFrontApplication.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "EmailConfirmation";
}

<h2>EmailConfirmation</h2>

<div style="text-align: center">
    <h2 style="color: black">@ViewBag.Title</h2>

    <h4 style="color: black">I have received the following message:</h4>
    <p>@Model.Message</p>
    <h4 style="color: black">I will respond as soon as we can to '@Model.Message'. Thank you for contacting me!</h4>
</div>
<br />
<br />
