@{
    ViewBag.Title = "Home Page";
}

<!-- Product Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="~/Content/img/about/movie_theater_seats.jpg" alt="movie theater seats">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Who We Are ?</h4>
                    <p>
                        We are a one stop shop for movie lovers everywhere. If you are looking to add something new to your collection or wanting to start one we have you covered. Not seeing something you want contact us and we will work on tracking it down and adding it to our library.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>How we started?</h4>
                    <p>
                        Started off as a regular movie fan of all types. Collection started to grow and friends began borrowing from the collection. Decided might as well make a business out of something I love.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Why Choose Us</h4>
                    <p>
                           We are a small company that is big on heart. We provide a personal touch when you visit our site and are actively increasing our library so you can increase yours.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
